<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>CSGORoll GWPicker</title>

  	<link rel="icon" href="/images/logos/favicon.png" />
    <link rel="stylesheet" href="/css/styles.min.css" />

		<script src='/js/tools.min.js' type='text/javascript'></script>
  </head>

  <body onload="loadCookies()">
    <div class="headerContainer">
			<h1 class=headerTitle>CSGO<span style="color: rgb(226, 4, 4);">Roll</span> <span style="color: #00c74d;">GW</span><span style="color: #ffe946;">Picker<span></h1>
		</div>
